body
{
    background: url('PHOTOS/dense.jpg');
    background-attachment: fixed;
}


#bloc_page
{
    width: 1100px;
    margin: auto;
}


header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}



.logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}



nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: blue;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #FFFFFF;
    border-bottom: 3px solid #760001;
}



section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}


article p
{
    font-size: 15px;
}

aside
{
    flex: 1.2;
    position: relative;
    background-color: brown;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: aqua;
    font-size: 1.2em;
}


footer
{
    display: flex;
    padding-top: 25px;
}

footer p, footer ul
{
    font-size: 15px;
}

footer h1
{
    font-size: 20px;
}



#projets
{
    width: 40%;
}



.xy
{
    color: aqua;
}

.xyzt
{
    color: orange;
}
